# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\UW\RA\Intrusion_Detection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
